<div class = "container">
  <div class = "row">
    <div class = "col-md-8">
      <%= image_tag "bye.jpg" %>
    </div>
    <div class = "col-md-4">
      <h1> Goodbye, <%=@name%>, have a nice night </h1>
      <h5> <%=link_to "Say Hi to Andy", hello_path(:name => "Andy") %> </h5>
    </div>
  </div>
</div>
