<div class = "container">
  <div class = "row-md-5">
    <div class = "col-md-8">
      <%= image_tag "hello.gif" %>
    </div>
    <div class = "col-md-4">
      <h1> Welcome, please enjoy the site </h1>
      <h5> <%=link_to "Say goodbye to Andy", goodbye_path(:name => "Andy") %> </h5>
    </div>
  </div>
  <div class = "row-md-7">
    <%= image_tag "me.jpeg"%>
  </div>
</div>
